#h1{
    text-align: center;
}
.recipeList ol {
    text-align: center;
}

.recipeList ol li {
    list-style: none; 
    counter-increment: recipe-counter; 
    margin-bottom: 10px; 
}

.recipeList ol li:before {
    content: counter(recipe-counter) ". "; 
    font-weight: bold; 
    font-size: 18px; 
    display: inline-block; 
    width: 20px; 
    text-align: right; 
}
.ingredients ul li {
    font-size: 24px;
    margin: 10px;
    font-style: italic;
}

#Directions{
    font-size: 36px;
    background-color: antiquewhite;
    color: black;
}
.para{
    font-size: 32px;
    background-color: antiquewhite;
    color: black;
    font-weight: bold;
}
